<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gf_daniel.mioapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- android:icon="@mipmap/ic_launcher" -->
    <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/log_mio_"
        android:label="@string/app_name"
        android:roundIcon="@drawable/log_mio_"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Maps Android Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAhWycaAxrR68XPfzgIdoY_h_l6Sb0yGBs" />
        <!-- Maps -->

        <activity android:name=".SearchActivity" />
        <activity
            android:name=".IniciarSesion"
            android:parentActivityName=".NoUserActivity"
            android:theme="@style/OtherTheme" />
        <activity
            android:name=".Registrarse"
            android:parentActivityName=".NoUserActivity"
            android:theme="@style/OtherTheme" />
        <activity android:name=".ProgramarViajesActivity" />
        <activity android:name=".TutorialesActivity" />
        <activity
            android:name=".NoUsersActivity"
            android:label="@string/vacio"
            android:theme="@style/ThemeWithoutTitle" />
        <activity
            android:name=".UsersActivity"
            android:label="@string/vacio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrayectoActivity"
            android:theme="@style/OtherTheme" />
        <activity android:name=".PQRSActivity" />
        <activity android:name=".tPlaneTuViajeActivity" />
        <activity android:name=".tIngresarEstacionesActivity" />
        <activity android:name=".tRecargarTargetaActivity" />
        <activity android:name=".ViajesActivity" />
        <activity
            android:name=".NoticiasActivity"
            android:theme="@style/OtherTheme" />
        <activity android:name=".SaldoActivity"></activity>
    </application>

</manifest>